[submodule "pemberitahuan"]
	path = pemberitahuan
	url = https://github.com/wanhabit/pemberitahuan.git
[submodule "movies-request"]
	path = movies-request
	url = https://github.com/wanhabit/movies-request.git
[submodule "buy-account"]
	path = buy-account
	url = https://github.com/wanhabit/buy-account.git
[submodule "petunjuk-mengunduh"]
	path = petunjuk-mengunduh
	url = https://github.com/wanhabit/petunjuk-mengunduh.git
[submodule "petunjuk-cloudstream"]
	path = petunjuk-cloudstream
	url = https://github.com/wanhabit/petunjuk-cloudstream.git
[submodule "apps-software"]
	path = apps-software
	url = https://github.com/wanhabit/apps-software.git
[submodule "get-canva"]
	path = get-canva
	url = https://github.com/wanhabit/get-canva.git
